<head>
    <title>نرم افزارهای موبایلی شهرداری تهران</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .container {
            height: 58rem;
            width: 100%;
            padding: 0;
            background: #f2f2f2;
            background-image: url('img/33.png');
            background-position: bottom;
            background-repeat: no-repeat;
        }

        .div {
            height: 17rem;
            display: inline-block;
            float: none;
            max-width: 16%;
            cursor: pointer;
        }

            .div:hover {
                color: #00a650;
                font-weight:bold;
                transition: all 1s ease;
            }

        .inner_div {
            width: 85%;
            height: 75%;
            border: 3px solid #00b6aa;
        }

        .div_kol {
            position: relative;
            top: 25%;
        }

        @media (max-width: 500px) {
            .div {
                max-width: 33%;
            }
        }

        @media (max-width: 768px) {
            .div {
                max-width: 16%;
            }
        }
        @media (max-width: 992px) {
            .div {
                max-width: 16%;
            }
        }

        @media (max-width:1000px){
            .div {
                max-width: 16%;
            }
        }

        .zamin {
            margin-left: 7rem;
            background-image: url('img/zamin.png');
            background-position: center;
            background-repeat: no-repeat;
        }

        .zamin:hover {
            box-shadow: 0 0 10px #00a650;
            background-color: #f2f9e9;
            border: 5px solid #00a650;
            transition: all 0.3s ease-in-out;
        }

        .raya {
            margin-left: 5rem;
            background-image: url('img/raya.png');
            background-position: center;
            background-repeat: no-repeat;
        }

        .raya:hover {
            box-shadow: 0 0 10px #00a650;
            background-color: #f2f9e9;
            border: 5px solid #00a650;
            transition: all 0.3s ease-in-out;
        }

        .docharkhe {
            margin-left: 3rem;
            background-image: url('img/docharkhe.png');
            background-position: center;
            background-repeat: no-repeat;
        }

        .docharkhe:hover {
            box-shadow: 0 0 10px #00a650;
            background-color: #f2f9e9;
            border: 5px solid #00a650;
            transition: all 0.3s ease-in-out;
        }

        .tehran {
            margin-left: 1rem;
            background-image: url('img/tehran.png');
            background-position: center;
            background-repeat: no-repeat;
        }

        .tehran:hover {
            box-shadow: 0 0 10px #00a650;
            background-color: #f2f9e9;
            border: 5px solid #00a650;
            transition: all 0.3s ease-in-out;
        }

        .bazar {
            margin-left: -1rem;
            background-image: url('img/bazar.png');
            background-position: center;
            background-repeat: no-repeat;
        }

        .bazar:hover {
            box-shadow: 0 0 10px #00a650;
            background-color: #f2f9e9;
            border: 5px solid #00a650;
            transition: all 0.3s ease-in-out;
        }

        .shahr {
            margin-left: -3rem;
            background-image: url('img/shahr.png');
            background-position: center;
            background-repeat: no-repeat;
        }

            .shahr:hover {
                box-shadow: 0 0 10px #00a650;
                background-color: #f2f9e9;
                border: 5px solid #00a650;
                transition: all 0.3s ease-in-out;
            }

            @media (max-width:768px){
                p{
                    font-size:0.9rem;
                }
            }

        @media (max-width:500px) {
            p {
                font-size: 0.7rem;
            }
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="col-12 d-flex justify-content-center" style="position: relative; top: 20%;">
            <h1>نرم افزارهای موبایلی شهرداری تهران</h1>
        </div>

        <div class="col-12 div_kol">
            <div class="col-sm-2 col-3 div div1" style="">
                <div class="inner_div rounded-circle zamin" style=""></div>
                <p style="align-items: center;text-align: center;position: relative;left: 6rem;top:0.5rem;">زمین سبز همراه</p>
            </div>
            <div class="col-sm-2 col-3 div div2" style="">
                <div class="inner_div rounded-circle raya" style=""></div>
                <p style="align-items: center;text-align: center;position: relative;left: 4rem;top:0.5rem;">رایا</p>
            </div>
            <div class="col-sm-2 col-3 div div3" style="">
                <div class="inner_div rounded-circle docharkhe" style=""></div>
                <p style="align-items: center;text-align: center;position: relative;left: 2rem;top:0.5rem;">دوچرخه</p>
            </div>
            <div class="col-sm-2 col-3 div div4" style="">
                <div class="inner_div rounded-circle tehran" style=""></div>
                <p style="align-items: center;text-align: center;position: relative;top:0.5rem;">تهران من</p>
            </div>
            <div class="col-sm-2 col-3 div div5" style="">
                <div class="inner_div rounded-circle bazar" style=""></div>
                <p style="align-items: center;text-align: center;position: relative;left: -2rem;top:0.5rem;">بازار روز همراه</p>
            </div>
            <div class="col-sm-2 col-3 div div6" style="">
                <div class="inner_div rounded-circle shahr" style=""></div>
                <p style="align-items: center;text-align: center;position: relative;left: -4rem;top:0.5rem;">شهر آماده</p>
            </div>
        </div>
    </div>

</body>
