.container {
            height: 58rem;
            width: 100%;
            padding: 0;
            background: #f2f2f2;
            background-image: url('img/33.png');
            background-position: bottom;
            background-repeat: no-repeat;
        }

        .div {
            height: 17rem;
            display: inline-block;
            float: none;
            max-width: 16%;
            cursor: pointer;
        }

            .div:hover {
                color: #00a650;
                font-weight:bold;
                transition: all 1s ease;
            }

        .inner_div {
            width: 85%;
            height: 75%;
            border: 3px solid #00b6aa;
        }

        .div_kol {
            position: relative;
            top: 25%;
        }

        @media (max-width: 500px) {
            .div {
                max-width: 33%;
            }
        }

        @media (max-width: 768px) {
            .div {
                max-width: 16%;
            }
        }
        @media (max-width: 992px) {
            .div {
                max-width: 16%;
            }
        }

        @media (max-width:1000px){
            .div {
                max-width: 16%;
            }
        }

        .zamin {
            margin-left: 7rem;
            background-image: url('img/zamin.png');
            background-position: center;
            background-repeat: no-repeat;
        }

        .zamin:hover {
            box-shadow: 0 0 10px #00a650;
            background-color: #f2f9e9;
            border: 5px solid #00a650;
            transition: all 0.3s ease-in-out;
        }

        .raya {
            margin-left: 5rem;
            background-image: url('img/raya.png');
            background-position: center;
            background-repeat: no-repeat;
        }

        .raya:hover {
            box-shadow: 0 0 10px #00a650;
            background-color: #f2f9e9;
            border: 5px solid #00a650;
            transition: all 0.3s ease-in-out;
        }

        .docharkhe {
            margin-left: 3rem;
            background-image: url('img/docharkhe.png');
            background-position: center;
            background-repeat: no-repeat;
        }

        .docharkhe:hover {
            box-shadow: 0 0 10px #00a650;
            background-color: #f2f9e9;
            border: 5px solid #00a650;
            transition: all 0.3s ease-in-out;
        }

        .tehran {
            margin-left: 1rem;
            background-image: url('img/tehran.png');
            background-position: center;
            background-repeat: no-repeat;
        }

        .tehran:hover {
            box-shadow: 0 0 10px #00a650;
            background-color: #f2f9e9;
            border: 5px solid #00a650;
            transition: all 0.3s ease-in-out;
        }

        .bazar {
            margin-left: -1rem;
            background-image: url('img/bazar.png');
            background-position: center;
            background-repeat: no-repeat;
        }

        .bazar:hover {
            box-shadow: 0 0 10px #00a650;
            background-color: #f2f9e9;
            border: 5px solid #00a650;
            transition: all 0.3s ease-in-out;
        }

        .shahr {
            margin-left: -3rem;
            background-image: url('img/shahr.png');
            background-position: center;
            background-repeat: no-repeat;
        }

            .shahr:hover {
                box-shadow: 0 0 10px #00a650;
                background-color: #f2f9e9;
                border: 5px solid #00a650;
                transition: all 0.3s ease-in-out;
            }

            @media (max-width:768px){
                p{
                    font-size:0.9rem;
                }
            }

        @media (max-width:500px) {
            p {
                font-size: 0.7rem;
            }
        }
